@model BestLife.Models.Growfund

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Growfund</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cashback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cashback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Savings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Savings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
